/*NavBar*/
.navbar {
	font-family: Century Gothic, sans serif;
	font-weight: bold;
}

.nav-link, .navbar-brand:hover {
	color: grey;
}


/*Carousel*/
.carousel {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}


/*YouTube Video*/
.holder {
	max-width: 1000px;
	margin: 0 auto;
}    

.yt-holder {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56%;
}

.yt-holder > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}


/*Table*/
table, th, td{
	border: 1px solid #2b3035;
	border-spacing: 0;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 3px solid #2b3035;
}

th {
	padding-top: 20px;
	padding-left:10px;
	padding-bottom: 20px;
	font-size: 20px;
	background-color: #2b3035;
	color: white;
}

td {
	padding: 10px;
	font-family: verdana, san serif;
}

tr:nth-child(even) {
  background-color: #ffeaf1;
}

.lettersort {
	background-color: #f6a2bf;
	text-align: center;
}


/*Background Image*/
.bgimg {
	background-image: url('filip-gielda.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/*Custom Dividers*/
.pinkdivider {
	font-family: Century Gothic, sans serif;
	background-color: #ffeaf1;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.bluedivider {
	font-family: Century Gothic, sans serif;
	background-color: #c0f1ff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.title {
	font-family: Century Gothic, sans serif;
	font-weight: bold;
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.smalldivider {
	font-family: Century Gothic, sans serif;
	font-weight: bold;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 10px;
}

.textsection {
	font-family: verdana, san serif;
	color: #2b3035;
	padding-top: 20px;
	padding-bottom: 20px;
}

.textsecpink {
	font-family: verdana, san serif;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffeaf1;
}

.centertitle {
	text-align: center;
}

.buffer {
	margin-bottom: 100px;
}

.buffersm {
	margin-bottom: 50px;
}

.addmargin {
	margin: 50px;
}

.contactinfo {
	font-family: Century Gothic, sans serif;
	margin-top: 100px;
}

.contacttext {
	font-family: verdana, san serif;
}


/*Custom Buttons*/
#pinkbtn {
	font-family: verdana, san serif;
	background-color: #fad2e0;
	color: black;
	border-color: black;
	border-width: 2px;
}

#pinkbtn:hover {
	font-family: verdana, san serif;
	background-color: #f6a2bf;
	color: white;
	border-color: black;
	border-width: 2px;
}

#bluebtn {
	font-family: verdana, san serif;
	background-color: #c0f1ff;
	color: black;
	border-color: black;
	border-width: 2px;
}

#bluebtn:hover {
	font-family: verdana, san serif;
	background-color: #91e4fb;
	color: black;
	border-color: black;
	border-width: 2px;
}

#btnpink:active {
	background-color: #f6a2bf;
	border-color: black;
	border-width: 2px;
	color: black;
}

#btnblue:active {
	background-color: #91e4fb;
	border-color: black;
	border-width: 2px;
	color: black;
}


/*Custom Text Colors*/
#bluetext {
	color: #91e4fb;
}

#bluetext-lite {
	color: #c0f1ff;
}

#pinktext {
	color: #f6a2bf;
}

#pinktext-lite {
	color: #fad2e0;
}

#whitetext {
	color: white;
}


/*Custom Background Colors*/
#blue-bg {
	background-color: #91e4fb;
}

#blue-bg-lite {
	background-color: #c0f1ff;
}

#pink-bg {
	background-color: #f6a2bf;
}

#pink-bg-lite {
	background-color: #fad2e0;
}
